@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;
$navbar-nav-link-padding-x: 2rem;

$nav-link-font-size: 1.3rem;
$primary: blue;

$btn-border-radius: .5rem;



@import "./node_modules/bootstrap/scss/bootstrap.scss";