@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;
$navbar-nav-link-padding-x: 2rem;

$nav-link-font-size: 1.3rem;

$btn-border-radius: .5rem;



@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";

.width-build {
    width: 80%;
}



.btn-doc {
    background-color: #E1E7FC;
    color: $primary;
    padding: .9rem .9rem;
}